# compiled output
/dist
/node_modules

.env
tests/*
data
./chroma.ts
./feedback.json
feedback.json

src/config/redis_config.md

src/public/images/*
src/public/video_comment/*
src/public/videos/*


crud_shop.md
cursor_instruction.md

src/controllers/public/*

crud_shop.md
deploy.md


src/public