# Dependencies
node_modules
yarn.lock
package-lock.json

# Build outputs
.next
out
build
dist

# Cache
.cache
.turbo

# Logs
*.log

# Environment
.env
.env.local
.env.production

# Other
coverage
.DS_Store

